@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #FFF;
}
#content{
    float: center;
    width: 100%;
    min-height: 200px;
}

/*Headear*/
.flex-container-head{
    display: flex;
    width: 100%;
}

.font-logo {
    font-size: 18px;
    color:#0E185F;
    padding: 10px;
    margin-top: 30px;    
}
/*Navigasi*/
nav {
    float: right;
    padding: 20px;
    margin: 15px 0px 10px 500px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
}

nav a {
    color: #0E185F;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover{
    font-weight: 700;
}

/*Beranda*/
.flex-container-home{
    display: flex;

    width: 100%;
    padding-bottom: 60px;
}
.flex-container-home-column{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: auto 0;
}
.flex-container-home-column > h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    padding: 10px;
    margin: 20px 75px 0px 40px;
    color: #0E185F;
}
.flex-container-home-column > div {
    line-height: 25px;
    text-align: justify;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    width: 400px;
    margin: 5px 20px 0px 40px;
}
.read-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 300;
}
.read-link:after {
    content: "→";
    margin-left: 2px;
}
.read-link:hover {
    font-weight: 500;
}
.flex-container-home img {
    margin-top: 50px;
    height: 550px;
}
/*Layanan Kami*/
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: auto 0;
}
.card {
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
}
.card-02 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
}

.card-img {
    box-sizing: border-box;
    width: 50%;
    background: #fff;
}

.card-content {
    padding: 10% 5%;
    box-sizing: border-box;
    width: 50%;
    background: #FFF;
}
.card-theme {
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #0E185F;
}
.card-header{
    font-weight: 700;
    font-size: 54px;
    text-transform: capitalize;
    line-height: 0.91;
    margin: 3vmin 0 3.5vmin;
    color: #0E185F;
}
.card-para{
    font-size: 2.5vmin;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 2.5vmin;
    color: #0E185F;
}
/*Paket Layanan*/
.product{
    font-weight: 700;
    font-size: 54px;
    text-transform: capitalize;
    line-height: 0.91;
    color: #0E185F;
    text-align: center;
    margin-top: 10px;
}
.product-body {
    background: #f2f2f2;
    padding: 50px;
}

.grid{
    margin: 10px 0 10px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.grid > section{
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}
.grid > section:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.grid > section img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.grtid > h3{
    text-transform: uppercase;
}
.grid-para{
    padding: 0 20px 20px;
    height: auto;
}
.net{
    padding: 0 20px 20px;
    height: auto;
}
.order{
    background: #0E185F;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    margin:10px;
    width: 50%;
    font-weight: 600;
    cursor: pointer;
}
/*Tentang Kami*/
.aboutus{
    font-weight: 700;
    font-size: 54px;
    text-transform: capitalize;
    line-height: 0.91;
    color: #0E185F;
}
.about-para{
    line-height: 25px;
    text-align: justify;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    width: 600px;
    margin: 5px 20px 0px 40px;
}
.body-company{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}
.body-company-column{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}
.company .card-comp .comp-img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: -webkit-linear-gradient(bottom, #10e2c6, #2FA4FF);
}
.company .card-comp .comp-img img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.comp-img img:hover{
    cursor: pointer;
    transform: scale(130%);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.card-comp{
    background: #fff;
    border-radius: 20px;
    margin: 20px 20px;
}
.card-comp::before{
    content: "";
    position: absolute;
    height: 120px;
    width: 327px;
    background: -webkit-linear-gradient(bottom, #00FFDD, #2FA4FF);
    border-radius: 20px 20px 0 0;
}
.card-comp .card-comp-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;

}
.name-profession{
    margin-top: 10px;
    color: #0E185F;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 700;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}
/*Hubungi Kami*/
.form-contact{
    width: 100%;
    height: 600px;
    background: #0E185F;
    padding: 20px
}
.contact{
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    text-transform: capitalize;
    line-height: 0.91;
    color: #fff;
}
.form-group{
    margin: 0px 0px 30px 100px;
    padding: 30px;
    width: 700px;
    background:#fff;
    border-radius: 3px;
}
.label{
    font-size: 15pt;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 8px;
  width: 100%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 8px 0px 0px 0px;
}
.tombol {
    background: #0E185F;
    color: #fff;
    border: 0;
    padding: 5px 8px;
    margin-top: 8px;
}
.tombol:hover{
    cursor: pointer;
}

footer {
	padding: 2px;
	color: #0E185F;
	text-align: center;
	font-weight: 500;
}